*{
  margin: 0;
  padding : 0;
  border : 0;
}

body {
  margin: 0 ;
  text-align:center;
}

h1{
  width: 10%;
  margin: 0 auto 0 auto;
}



.top {
  background-color: #4682B4;


}

.middle {
  width: 200px;
  height: 200px;
  background-color: red;
}

.bottom {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.top-cloud{
  position: relative;
  left: 200px;
}
.bottom-cloud{
  position: absolute;
}
